.banner {
  width: 100%;
  border-radius: 20px;
  color: #fff;
  border: 15px solid rgba(245, 209, 195, .74);
  margin-bottom: 40px;
  overflow: hidden;

  &:not(.slick-initialized) {
    max-height: 344px;
    overflow: hidden;

    @include bp(sm) {
      max-height: 296px;
    }
  }

  @include bp(sm) {
    margin: 25px auto 30px;
  }

  &__item {
    padding: 60px;
    background-size: cover !important;
    height: 300px;
    display: inline-flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include bp(xlg) {
      padding: 30px;
      height: 290px;
    }

    @include bp(md) {
      justify-content: flex-start;
      padding-top: 25px;
      padding-bottom: 25px;
      height: 400px;
      background-size: 200% !important;
      background-position: 95% -23px !important;
    }

    @include bp(sm) {
      height: 300px;
      background-size: 200% !important;
      background-position: 100% 0 !important;
    }
  }

  *:not(.button) {
    color: inherit;
  }

  h1, .h1 {
    font-size: 34px;
    @include ellipsis(2);

    @include bp(md) {
      font-size: 28px;
    }

    @include bp(sm) {
      font-size: 21px;
      margin-bottom: 10px;
    }
  }

  p {
    @include ellipsis(3);
  }

  .text-size-xs {

    @include bp(sm) {
      font-size: 14px;
    }
  }

  .button {
    margin-top: 30px;

    @include bp(sm) {
      margin-top: 10px;
    }
  }

  &__inner {
    max-width: 400px;

    @include bp(md) {
      max-width: 350px;
    }
  }
}
