.documents {

  &__list {
    align-items: flex-start;

    .list__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__btn {
    margin-top: 25px;

    @include bp(sm) {
      width: 100%;
    }
  }
}
